* {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: aquamarine;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    text-decoration: underline;
}