* {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-style: 42px;
}

h3 {
    font-size: 21px;
    color: gray;
}

h4 {
    color: aquamarine;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    text-decoration: underline;
}

footer {
    text-align: right;
    font-size: 21px;
    color: gray;
}

#video {
    text-align: center;
}

#photo {
    text-align: center;
}

#logo {
    text-align: center;
}